body {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

hr {
    border: none;
    width: 100%;
    height: 3px;
    background-color: black;
}

.individual-image {
    float: left;
    padding-right: 50px;
    padding-top: 0%;
}

.individual-image p {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

.take-place-as-an-image {
    padding-right: 50px;
    width: 200px;
    height: 200px;
    float: left;
}

.take-place-as-an-image p {
    font-size: 25px;
    font-weight: 5px;
}

